.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

.App-footer {
  background-color: #282c34;
  color: white;
}

.input-box {
  border: 2px solid white;
  font-size: 25px;
  color: white;
  background-color: #282c34;
  width: 50%;
  padding: 10px 25px;
}

.s-button {
  background-color: #282c34;
  border: 2px solid white;
  color: White;
  padding: 10px 25px;
  font-size: 25px;
  margin: 4px 2px;
  transition: 0.1s;
}

.s-button:hover {
  background-color: #21242a;
}

.question {
  text-align: left; 
  border: 2px solid white; 
  border-radius: 10px; 
  color: White; 
  padding: 5px 5px; 
  font-size: 14px; 
  margin: 10px 2px;
  margin-left: 10px;
  margin-right: 10px;
}
.question:hover {
  background-color: #21242a;
}

.q-body {
  font-size: 14px; 
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #576070; 
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 800px;
}

.q-hidden {
  font-size: 14px; 
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  margin-left: 5px;
  margin-right: 5px;

}

.subtext {
  font-size: 13px; 
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #576070; 
  display: inline-block;
  margin-left: 30px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 600px;
}

.st-date {
  text-align: left;
  float: right;
  margin-left: 30px;
}

.st-hr {
  border: 1px solid #576070;
  border-bottom: 0ch;
}

